* {
    font-family: "Poppins", sans-serif;
}

body {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* nav bar */

.nav-bar {
    height: 2.6rem;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.logo {
    height: 27px;
    width: 107px;
    background-size: cover;
}

.options {
    display: flex;
}

.options a {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.options a:hover {
    color: #1572D3;
    text-decoration: underline;
    scale: 1.05;
}

.sign-in-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-up a {
    text-decoration: none;
    color: black;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    transition: 0.3s;
}

.sign-in-up a:hover {
    color: #1572D3;
    scale: 1.2;
}

.sign-up-btn {
    height: 2.68rem;
    width: 8.9rem;
}

/* for sign in up overlay */

.sign-overlay {
    display: none;
}

.sign-overlay.active {
    /*active class*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    z-index: 999;
}


.sign-overlay-main-container {
    width: 55%;
    height: 45rem;
    border-radius: 1.06rem;
    box-shadow: 0 0 10px black;
    background-color: white;
    display: flex;
    position: relative;
}


.sign-overlay-form {
    height: 100%;
    width: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.sign-overlay-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.sign-up-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-login-btn {
    width: 22.06rem;
    padding: 0.62rem;
}

.sign-overlay-exit-btn {
    position: absolute;
    top: 2%;
    left: 2%;
}

.sign-up-side-design {
    background-color: #D9D9D9;
    height: 100%;
    width: 46%;
    border-radius: 2.06rem 1.06rem 1.06rem 2.06rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-side-design-text {
    position: absolute;
    top: 16%;
}

.sign-up-side-design-text span {
    color: #1572D3;
}

.sign-up-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 71%;
}


/* continue */
.nav-menu {
    display: flex;
    align-items: center;
}

.hamburger {
    max-height: 1rem;
    display: none;
}

.hamburger .bar {
    display: block;
    height: 0.31rem;
    width: 2.18rem;
    background-color: #1572D3;
    margin: 3px;
    border-radius: 0.31rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media(max-width:1150px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar.active {
        background-color: #3E3E3E;
        height: 60px;
    }

    .nav-menu {
        position: fixed;
        display: none;
        transition: 0.3s ease-in;
    }

    .nav-menu.active {
        display: block;
        position: fixed;
        left: 0;
        border-radius: 0 0 3rem 3rem;
        display: flex;
        flex-direction: column;
        background-color: #3E3E3E;
        top: 3.75rem;
        width: 100%;
        height: 50vh;
    }

    .nav-menu.active .options {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }

    .nav-menu.active .options a {
        color: white;
    }

    .nav-menu.active .sign-in-up {
        width: 253px;
        height: 39px;
        border: 2px solid #1572D3;
        border-radius: 50px;
        margin: 10px;
        background-color: #242424;
        position: absolute;
        bottom: 0;
    }

    .nav-menu.active .sign-in-up .sign-up-btn {
        border-radius: 50px;
        height: 39px;
        width: 160px;
    }

    .nav-menu .sign-in-up a {
        color: white;
    }

    .sign-up-side-design {
        display: none;
    }
    
    .sign-overlay-main-container {
        justify-content: center;
        align-items: center;
    }

}


/* main page or front page */

.main-page {
    width: 100%;
    height: 100vh;
}

.main-text {
    height: 10rem;
    width: 400px;
    position: absolute;
    top: 15rem;
    left: 10rem;
    padding: 0;
}

.main-text h2 {
    font-size: 3rem;
    color: #242424;
    margin: 0;
    margin-bottom: 2.5rem;
}

.main-text h2 span {
    color: #1572D3;
}

.main-text img {
    height: 2.03rem;
    width: 8.20rem;
    position: absolute;
    top: 75%;
    left: 65%;
}

.main-text p {
    font-size: 1.12rem;
    opacity: 0.7;
}

/* car backgrong circle design */

.car-bg-img {
    width: 35.87rem;
    height: 50rem;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* car image */

.main-page-car-img {
    width: 49.43rem;
    height: 33.56rem;
    position: absolute;
    top: 11.3rem;
    right: 0;
}

/* main page bottom info and Search div */

.second-div {
    height: 4.5rem;
    width: 67.25rem;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.75rem;
    padding-left: 2rem;
    padding-right: 0.75rem;
    box-shadow: -5px 5px 5px #acacac5f;
}

.second-div .info-div {
    display: flex;
    position: relative;
}

.second-div .info-div .heading {
    color: #3E3E3E;
    margin: 0;
    display: flex;
}

.second-div .info-div .paragraph {
    color: #B6B6B6;
    margin: 0;
}

.second-div .info-div .text-div {
    margin-left: 1rem;
}

.search-btn {
    height: 2.6rem;
    width: 8.93rem;
}

/* secong page after scorlling down from main page */

.second-page {
    height: 100vh;
    width: 100%;
    position: relative;
}

.steps-container {
    height: 25rem;
    width: 56rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    margin-top: 1.5rem;

}

.steps {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.steps-inner-img {
    height: 7rem;
    width: 7rem;
}

.steps-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17rem;
}

.steps-container .how-it-work-btn {
    width: 10rem;
    font-weight: normal;
}

.second-page .company-container {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 5%;
}

.second-page .company-container img {
    height: 4.5rem;
    width: 24rem;
}

.third-page {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}


.third-page .car-img {
    height: 100%;
    width: 50%;
    position: relative;
}

.third-page .car-img .bg-design {
    position: absolute;
    top: 55%;
    z-index: -1;
}

.third-page .car-img img {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0%, -50%);
}

.third-page .why-choose-us-info {
    height: 100%;
    width: 50%;
    padding: 5rem 0;
}

.why-choose-us-text {
    margin-top: 2rem;
}

.why-choose-us-info .why-container .why {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.why-choose-us-info .why-container .why .img {
    height: 4rem;
    width: 4rem;
}

.why-choose-us-info .why-container .why .why-inner-text {
    text-align: start;
    width: 20rem;
}

.why-choose-us-info .why-container .why .why-inner-text p {
    margin: 0;
}

.why-choose-us-info .why-container .why .why-inner-text .heading {
    margin-bottom: 1.5rem;
}

.why-container {
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3.5rem;
}

@media(max-width:1150px) {
    .third-page .car-img {
        display: none;
    }

    .third-page {
        justify-content: center;
        align-items: center;
    }
}

/* for responsive */

/* hamberger navbar */

@media(max-width:1150px) {

    .second-div .pickup-date,
    .second-div .return-date {
        display: none;
    }

    .second-div {
        width: 27rem;
    }

    .main-text {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* car rental deals page */


.rental-deals-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.rental-deals-container {
    position: relative;
}

.view-all-car-btn {
    position: absolute;
    bottom: 10%;
    background: #1571d328;
    border-radius: 0.5rem;
}

.view-all-car-btn button {
    background: transparent;
    color: #1572D3;
}

.rental-deals-text {
    width: 12rem;
    margin-top: 3rem;
}

.car-options {
    width: 70vw;
    height: 70vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
@media(max-width:1000px) {
    .car-options {
        width: 50rem;
    }
} */

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 0.8rem;
}

.car-info .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-info .row .ele {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.rent-btn {
    width: 100%;
    height: 40%;
}

@media(max-width:450px) {
    html {
        font-size: 6px;
    }
}